@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: "Poppins", sans-serif;
}

table th {
  font-size: 14px;
}

table td {
  font-size: 12px;
}

#form {
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.3s;
}

#form:target {
  transform: translateX(0);
}
